<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")  %>
<body>
   <%- include("../partials/header")  %>
   <div class="main"> 
      <div class="featured">
         <p><%= subroute.description %></p>
         <img src="<%= subroute.image %>" alt="<%= subroute.name %>" width="35%" height="auto">
         
         <div class="characteristics">
            <p><span>Shape :</span> <%= subroute.shape  %></p>
            <p><span>Origin :</span> <%= subroute.origin  %></p>
            <p><span>Power :</span> <%= subroute.power  %></p>
            <p><span>Habitat :</span> <%= subroute.habitat  %></p>
            <p><span>Alignment :</span> <%= subroute.alignment  %></p>
            <p><span>Height/Size :</span> <%= subroute.height  %></p>
         </div>
      </div>
   </div>
   <%- include("../partials/footer")  %>
</body>
</html>