<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")  %>
<body>
  <div class="main">
    <div class="video">
      <video autoplay loop muted plays-inline class="back-video">
        <source src="/videos/bg_video.mp4" type="video/mp4">
      </video>
      <%- include("../partials/header")  %>
      <%- include("../partials/navigation_bar")  %>
      <%- include("../partials/maincontent")  %>
    </div>
  </div> 
  <%- include("../partials/footer")  %>
</body>
</html>